Django>=2.2,<3

django-filter
django-cors-headers

{% if cookiecutter.graphene == 'y' %}
graphene-django
{% endif %}

# REST
djangorestframework
djangorestframework-jwt
djoser

# dev
ipdb

gunicorn
psycopg2-binary

# testing
pytest-django
pytest-factoryboy
factory-boy
Faker
pytest-cov

{% if cookiecutter.celery == 'y' %}
celery
{% endif %}
